/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.container {
  background-color: #FFFFFF;
  padding: 0px 15px;
  margin: 0px 67.5px;
  min-height: 650px;
}

.list-tabs {
  margin: 0px 67.5px;
  background-color: #86122c;
}

.list-tabs li {
  margin-bottom: 0px;
  padding: 16px 0px;
  background-color: #86122c;
}

.list-tabs li a {
  padding: 19px 22px 20px 22px;
  color: #FFFFFF;
}

.list-tabs li a:hover {
  color: #1779ba;
  font-weight: bold;
  background-color: #FFFFFF;
}

.list-tabs li a.is-active {
  color: #1779ba;
  font-weight: bold;
  border-bottom: #FFFFFF;
  background-color: #FFFFFF;
}

.current {
  background-size: 8px;
  background-position: right;
  background-repeat: no-repeat;
}

.asc {
  background-image: url('up_arrow.png');
}

.desc {
  background-image: url('down_arrow.png');
}

.book-cover img {
  max-height: 475px;
  max-width: 300px;
  border: 1px solid #333333;
}

.cancel, {
  margin-right: 16px;
}

.read-sign {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #1779ba;
}

.detail-buttons {
  margin-top: 12px;
}

.index-buttons {
  margin-left: 15px;
}

.detail-buttons > :first-child, .index-buttons > :first-child {
  margin-right: 25px;
}

.view-reviews, .view-books {
  padding-bottom: 15px;
}

.review-list {
  margin-left: 0;
}

.select-spacing * {
  margin-right: 4px;
}

.date-label {
  margin-bottom: 4px;
}

.add-from-index {
  margin-left: 15px;
}

.thumbnail-cover img {
  max-height: 80px;
  max-width: 50px;
  border: 1px solid #333333;
  margin-right: 20px;
}

.sort .links > :nth-child(2), .default {
  padding: 0px 10px;
}

.sort .links > :first-child {
  padding: 0px 10px 0px 0px;
}

.sort .button {
  margin-bottom: 0;
  margin-left: 20px;
}

form .filter {
  margin-bottom: 16px;
}

form .filter > :first-child {
  margin-right: 20px;
}

form .button {
  margin-bottom: 0;
}

li dl {
  padding-left: 15px;
}

dt {
  margin-top: 12px;
}

p.cell {
  margin-bottom:0;
}

.have-read-list, .to-read-list {
  margin-right: 20px;
  padding-left: 18px;
  padding-right: 18px;
}

.buffer {
  padding-right: 10px;
}

.book-info p {
  margin-bottom: 0;
}

.rank-form {
  margin-right: 20px;
}

.finished {
  margin-bottom: 0;
}

.clear.button, .shrink .clear.button {
  font-size: 16px;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
}

nav.pagination {
  margin-bottom: 0;
}

.devise.links {
  padding-bottom: 25px;
}

.actions .devise-buttons {
  margin-bottom: 20px;
}

@media screen and (max-width: 39.9375em) {
  .container {
    margin: 0;
  }

  .list-tabs {
    margin: 0;
  }

  .book-index {
    margin-left: 0;
    margin-right: 0;
  }

  .books-list {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .book-cover {
    padding-left: 15px;
  }

  .sticky {
    margin-left: 0;
  }

  .clear.button {
    padding-top: 10px;
  }

  .shrink .clear.button {
    padding-top: 0;
  }
}
